@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.background{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(45deg, #828273 50%, #1C1C19 50%);
}

.container{
    position: absolute;
    margin: 50px;
    height: 85vh;
    width: 190vh;
    background-image: url(/images/userDashboard2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    z-index: 1;
    padding: 40px;

    /* display: none; */
}

.data_container{
    height: 86%;
    width: 100%;
    overflow-x: hidden;
    padding-top: 30px;
   
    /* display: none; */
}

.nav_bar{
    height: 60px;
    width: 100%;
    display: flex;

    /* display: none; */
}

/*/////// delete button /////// */
.delete_customer{
    height: 35px;
    width: 35px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
.delete_customer img{
    height: 30px;
}
.delete_customer img:hover{
    cursor: pointer;
}
/* Search Bar */

.search_bar{
    width: 100%;
    height: 60px;
}

.search_field{
    position: absolute;
    box-sizing: border-box;
    height: 45px;
    width: 73%;
    padding-left: 20px;
    margin: 6px;
    background-color: #ffffff;
    border: none;
    font-size: 20px;
    border-radius: 50px;
    z-index: 0;
    box-shadow: inset 0 0 5px rgb(172, 172, 172);
}
.search_field:focus{
    outline: none;
}
.search_btn{
    position: absolute;
    top: 52px;
    left: 912px;
    height: 35px;
    width: 35px;
    border: none;
    background-color: #ffffff;
    font-size: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(160, 160, 160);
    z-index: 1;
}
.search_btn img{
    height: 25px;
    width: 25px; 
    position: relative;
    top: 3px;
}
/* //////////////////////  Inner Shadow Effect  ///////////////// */
.inner_shadow:hover{
    box-shadow: inset 0px 0px 15px rgb(207, 203, 203);
}

.new_data{
    width: 30vh;
    height: 60px;
}

.upload_btn{
    height: 45px;
    border: none;
    width: 27vh;
    margin: 6px;
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 30px;
    color: #81817d;
    box-shadow: inset 0 0 5px rgb(172, 172, 172);
}
.customer{
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content:space-between;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    background-color: rgba(150, 143, 143, 0.541);
    padding: 30px;
}
.customer h3{
    font-size: 16px;
    font-weight: 300;
}
.special{
    color: rgb(206, 199, 199);
}
.overlay_window{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 3;
}

/* ///////////////////////  Uploading customer data window ////////////////////////////// */

.upload_window{
    position: absolute;
    box-sizing: content-box;
    height: 60vh;
    width: 100vh;
    margin-left: 350px;
    margin-top: 100px;
    border: #055e36 solid 2px;
    background-color: #b9f7db;
    border-radius: 20px;
    z-index: 3;
}

.customer_data{
    margin-left: 85px;
    margin-top: 30px;
}
.input_container{
    position: relative;
    display: flex;
    bottom: 25px;
    right: 30px;
}
.col{
    height: 300px;
    width: 250px;
    margin: 20px;
}

.customer_data input{
    width: 200px;
    height: 25px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: lightgray
}

.close_window{
    position: relative;
    border: none;
    height: 20px;
    width: 70px;
    left: 87vh;
    top: 15px;
}
.submit_btn{
    position: relative;
    border: none;
    height: 20px;
    width: 70px;
    align-self: flex-end;
    right: 310px;
}
.button:hover{
    background-color: gray;
}

.hidden{
    display: none !important;
}

/* /////////////////////////////////////////// Customer Details Window ///////////////////////////////////////////////// */
.whole_area{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.detais_window{
    display: flex;
    height: 400px;
    width: 700px;
    align-self: center;
    border: #055e36 solid 2px;
    background-color: #b9f7db;
    border-radius: 20px;
    z-index: 3;
    padding: 20px;
    
}

.close_detailsWindow{
    position: relative;
    border: none;
    height: 20px;
    width: 70px;
    left: 90vh;
    top: 3px;
}

.update_details{
    position: relative;
    border: none;
    height: 20px;
    width: 70px;
    left: 85vh;
    top: 3px;
}

.column1, .column2 {
    width: 400px;
    position: relative;
    right: 20px;
    font-size: 15px;
    color: #033b22;
    top: 50px;
}

/* details button */
.details_customer{
    position: absolute;
    height: 35px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 25px;
    left: 1060px;
}
.details_customer img{
    height: 35px;
}
.details_customer > img:hover{
    cursor: pointer;
}
/* ////////////////////////////////  Update Details Feature /////////////////////////////////// */

.update_container{
    position: relative;
    display: flex;
    top: 30px;
    right: 10px;
}

.update_container input{
    width: 200px;
    height: 25px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: lightgray;
}

.update_button{
    position: relative;
    border: none;
    height: 20px;
    width: 70px;
    top: 350px;
    right: 330px;
}