@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ///////////////////////////////////////  SECTION - 1  ////////////////////////////////////// */
.nav_bar{
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 40px;
}
.nav_bar img{
    height: 40px;
}
.section_1{
    display: flex;
    justify-content: center;
}
.header_name{
    height: 100px;
    width: 700px;
    position: absolute;
    z-index: 2;
    color: rgb(122, 121, 121);
    align-self: center;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 60px;
    text-align: center;
}
.site_description{
    font-size: 20px;
    color: rgb(156, 154, 154);
}
.page_1{
    height: 100vh;
    overflow: hidden;
}
.page_1 img{
    width: 100%;
    position: relative;
    bottom: 300px;
    filter: brightness(60%);
}
/* ////////////////////////////////////////  SECTION - 2  /////////////////////////////////////// */
.section_2{
    height: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    background-color: #6B2E50;
}
.section2_img{
    height: 320px;
    width: 320px;
    overflow: hidden;
    border-radius: 40px;
}
.section2_img img{
    width: 400px;
    position: relative;
    bottom: 100px;
    
}
.section2_text{
    height: 150px;
    width: 700px;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    text-align: justify;
    color: white;
}
/* /////////////////////////////////  SECTION - 3 ////////////////////////////////////////////// */
.section3_img{
    height: 310px;
    overflow: hidden;
}
.section3_img img{
    position: relative;
    width: 100%;
    bottom: 380px;
}
/* //////////////////////////////////// SECTION - 4 /////////////////////////////////////// */
.section_4{
    height: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    background-color: #745F5F;
}
.section4_img{
    height: 320px;
    width: 320px;
    overflow: hidden;
    border-radius: 40px;
}
.section4_img img{
    width: 400px;
    position: relative;
    bottom: 100px;
}
.section4_text{
    height: 150px;
    width: 700px;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    text-align-last: right;
    text-align: justify;
    color: white;
}
/* ///////////////////////////////////  SECTION - 5  /////////////////////////////////// */
.section5_img{
    height: 500px;
    overflow: hidden;
}
.section5_img img{
    position: relative;
    width: 100%;
    bottom: 570px;
}
/* /////////////////////////////  SECTION - 6 (Slider)  //////////////////////////////////////////////// */
.section_6{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0C7872;
}

.slider{
    height: 400px;
    width: 600px;
    display: flex;
    overflow: hidden;
    
}

.slide{
    position: relative;
    height: 400px;
    width: 100%;
    border-radius: 50px;
    transition: right 2s ease;
}

.slider_btn{
    background: none;
    border: none;
    height: 60px;
    border-radius: 50%;
    margin: 50px;
}
.slider_btn img{
    height: 60px;
}
.slider_btn:hover{
    background-color: #03413e;
}

/* //////////  LAZY IMAGES  ///////////// */

.section2_img img, .section4_img img{
    transition: filter 1s;
}

.blur{
    filter: blur(20px);
}
/* //////////////////////////////////  SECTION - 7  ///////////////////////////////////////////// */

.section_7{
    width: 100%;
    height: 250px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #483C2B;
    
}
.section_7 div{
    position: relative;
    height: 85px;
    width: 800px;
    display: flex;
    justify-content: space-around;
    top: 70px;
    left: 265px;
    
}
.social_links img{
    height: 70px;
}
.social_text{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: white;
}